{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block header_actions %}
    {% if _list_filters_actions is not empty %}
        {{ _list_filters_actions|raw }}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        {% set batchactions = admin.batchactions %}
        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST">
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}

            {# Add a margin if no pager to prevent dropdown cropping on window #}
            <div class="panel panel-default">
                <div class="panel-body {% if admin.datagrid.results|length > 0 %}table-responsive{% endif %}">
                    {% include 'YnloAdminBundle:CRUD/list:toolbar.html.twig' %}
                </div>
                {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

                {% block list_header %}{% endblock %}

                {% if admin.datagrid.results|length > 0 %}
                    <table class="table table-condensed table-hover sonata-ba-list">
                        {% block table_header %}
                            {{ parent() }}
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                            {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    {% include 'YnloAdminBundle:CRUD/list:no_results.html.twig' %}
                {% endif %}

                {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}

                {% include 'YnloAdminBundle:CRUD/list:footer.html.twig' %}
            </div>
            {% if admin.hasRoute('batch') and batchactions|length %}
        </form>
        {% endif %}
    </div>
{% endblock %}

{% use 'YnloAdminBundle:CRUD/list:filter_actions.html.twig' %}

{% use 'YnloAdminBundle:CRUD/list:filters.html.twig' %}
