{% block sonata_page_content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block page_title_text %}
                {% if admin is defined and admin.icon %}
                    <i class="{{ admin.icon }}"></i>
                {% elseif admin is not defined %}
                    <i class="icon-home4"></i>
                {% endif %}
                {% if _title is not empty %}
                    {{ _title|raw }}
                {% elseif admin is defined and action is defined %}
                    {% set menu = admin.breadcrumbs(action)|last %}
                    {{ menu.label }}
                {% endif %}
            {% endblock %}
        </h1>
        <ul class="breadcrumb position-right">
            {% if _breadcrumb is empty %}
                {% if action is defined %}
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.last %}
                            <li>
                                {% if menu.uri is not empty %}
                                    <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                {% else %}
                                    {{ menu.label }}
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="active"><span>{{ menu.label }}</span></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ _breadcrumb|raw }}
            {% endif %}
        </ul>
    </section>
{% endblock %}
