{% block head %}

    {% use 'YnloAdminBundle:Chunks/Layout:assetic_assets.html.twig' %}

    {% set js_assets = block('assetic_js_assets') %}
    {% set css_assets = block('assetic_css_assets') %}

    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
            {{ css_assets|raw }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
                    USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
                    USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                };

                // http://getbootstrap.com/getting-started/#support-ie10-width
                if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                    var msViewportStyle = document.createElement('style');
                    msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
                    document.querySelector('head').appendChild(msViewportStyle);
                }
            </script>
            {{ js_assets|raw }}
        {% endblock %}

        <title>
            {% block sonata_head_title %}
                {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

                {% if _title is not empty %}
                    {{ _title|raw }}
                {% else %}
                    {% if action is defined %}
                        -
                        {% for menu in admin.breadcrumbs(action) %}
                            {% if not loop.first %}
                                {% if loop.index != 2 %}
                                    &gt;
                                {% endif %}

                                {{ menu.label }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </title>
    </head>
{% endblock head %}