{% use 'MopaBootstrapBundle::Form/fields.html.twig' %}
{% use 'YnloFormBundle::Widgets/embedded_template.html.twig' %}
{% use 'YnloFormBundle::Widgets/angular_form.html.twig' %}

{% block form_row_begin %}
    {% if prepend_separator %}
        <hr style="clear: both">
    {% endif %}

    {% if prepend_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            <div class="toggle_group_{{ group }}">
        {% endfor %}
    {% endif %}

    {% if template_prepend %}
        {{ include(template_prepend, template_parameters) }}
    {% endif %}

    {% if input_wrapper_class %}
        <div class="{{ input_wrapper_class }}">
    {% endif %}
{% endblock %}

{% block form_row_end %}
    {% if input_wrapper_class %}
        </div>
    {% endif %}

    {% if template_append %}
        {{ include(template_append, template_parameters) }}
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            </div>
        {% endfor %}
    {% endif %}

    {% if append_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if append_separator %}
        <hr style="clear: both">
    {% endif %}
{% endblock %}

{% block form_row %}
    {{ block('form_row_begin') }}
    {{ parent() }}
    {{ block('form_row_end') }}
{% endblock form_row %}
