{% use 'MopaBootstrapBundle::Form/fields.html.twig' %}
{% use 'YnloFormBundle::Widgets/embedded_template.html.twig' %}
{% use 'YnloFormBundle::Widgets/angular_form.html.twig' %}
{% use 'YnloFormBundle::Widgets/column_matcher_type.html.twig' %}

{% block form_row_begin %}
    {% if template_prepend %}
        {{ include(template_prepend, template_parameters) }}
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            <div class="toggle_group_{{ group }}">
        {% endfor %}
    {% endif %}

    {% if prepend_separator %}
        <hr style="clear: both">
    {% endif %}

    {% if prepend_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if input_wrapper_class %}
        <div class="{{ input_wrapper_class }}">
    {% endif %}
{% endblock %}

{% block form_row_end %}
    {% if input_wrapper_class %}
        </div>
    {% endif %}

    {% if append_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if append_separator %}
        <hr style="clear: both">
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            </div>
        {% endfor %}
    {% endif %}

    {% if template_append %}
        {{ include(template_append, template_parameters) }}
    {% endif %}
{% endblock %}

{% block form_row %}
    {{ block('form_row_begin') }}
    {{ parent() }}
    {{ block('form_row_end') }}
{% endblock form_row %}

{% block file_widget %}
    {% set attr = attr|merge({'class': 'file-input'}) %}
    {{ parent() }}
    {% if widget == 'bootstrap_fileinput' %}
        <script>
            // Basic setup
            $('#{{ form.vars.id }}').fileinput({
                showPreview: false,
                showUpload: false,
                browseLabel: '',
                browseClass: 'btn btn-primary btn-icon',
                removeLabel: '',
                browseIcon: '<i class="icon-plus22" style="margin:0"></i>',
                removeClass: 'btn btn-danger btn-icon',
                removeIcon: '<i class="icon-cancel-square" style="margin:0"></i>',
                layoutTemplates: {
                    caption: '<div tabindex="-1" class="form-control file-caption {class}">\n' + '<div class="file-caption-name"></div>\n' + '</div>'
                },
                allowedFileExtensions: {{ allowed_file_extensions|json_encode|raw }}
            });
        </script>
    {% endif %}
{% endblock file_widget %}
