{% extends ['@SonataAdmin/Form/form_admin_fields.html.twig', 'MopaBootstrapBundle::Form/fields.html.twig'] %}

{% use 'YnloFormBundle::Widgets/embedded_template.html.twig' %}
{% use 'YnloFormBundle::Widgets/angular_form.html.twig' %}

{% block form_row %}
    {% if prepend_separator %}
        <hr style="clear: both">
    {% endif %}

    {% if prepend_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            <div class="toggle_group_{{ group }}">
        {% endfor %}
    {% endif %}

    {% if template_prepend %}
        {{ include(template_prepend, template_parameters) }}
    {% endif %}

    {% if input_wrapper_class %}
        <div class="{{ input_wrapper_class }}">
    {% endif %}

    {{ parent() }}

    {% if input_wrapper_class %}
        </div>
    {% endif %}

    {% if template_append %}
        {{ include(template_append, template_parameters) }}
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            </div>
        {% endfor %}
    {% endif %}

    {% if append_clearfix %}
        <div class="clearfix"></div>
    {% endif %}

    {% if append_separator %}
        <hr style="clear: both">
    {% endif %}

    {#{% include 'YnloFormBundle:Extensions:form_toggle.html.twig' %}#}
    {#{% include 'YnloFormBundle:Extensions:typehead.html.twig' %}#}
{% endblock form_row %}

{% block choice_widget_collapsed %}
    {{ parent() }}
    {#{% include 'YnloFormBundle:Extensions:select2.html.twig' %}#}
{% endblock %}
